  <div class="panel panel-default">
    <i class='icon-remove delete pull-right'></i>
    <div class="panel-body">
      <img src='heroku/{{ filename }}' height='100' alt ='asd' class='image'/>
      <div class="house_info">
        <p> {{title}}</p>
        <p>Location :{{location}}</p>
        <p> {{description}}</p>
        <p class='house_change'>Maximum people :{{number_of_people}}
        </p>
      </div>
    </div>
  </div>






