  <div class="panel panel-default">
    <div class="panel-body">
      <span class='image'>
        <img src='heroku/{{ filename }}' height='100' alt ='asd'/>
      </span>
      <div class="house_info">

        <p> {{title}}</p>
        <p>Location :
               {{location}}</p>
        <p> {{description}}</p>
        <p>  Maximum people :
               {{number_of_people}}</p>
      </div>
    </div>
  </div>






